@page
@model WebApplication1.Areas.Budget.Pages.CreateTransactionModel
@using WebApplication1.Models;

@{
}

<h4>Add Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All">
                <span>Please correct the following errors</span>
            </div>

            <div class="form-group">
                <label asp-for="Transaction.Date" class="control-label"></label>
                <input asp-for="Transaction.Date" class="form-control" />
                <span asp-validation-for="Transaction.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input asp-for="Transaction.Amount" class="form-control" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Name" class="control-label"></label>
                <input asp-for="Transaction.Name" class="form-control" />
                <span asp-validation-for="Transaction.Name" class="text-danger"></span>
            </div>
            <div class="form-group classedoolhodocu">
                <label asp-for="Transaction.TransactionType" class="control-label"></label>
                <select asp-for="Transaction.TransactionType" asp-items="Html.GetEnumSelectList<TransactionType>()" class="form-control"></select>
                <span asp-validation-for="Transaction.TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group classedaputaquepariu">
                <label asp-for="Transaction.CategoryId" class="control-label"></label>
                <select asp-for="Transaction.CategoryId" asp-items="Model.CategorySL" class="form-control" ></select>
                <span asp-validation-for="Transaction.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


